.dashboard-container {
    padding: 15px 10px;

    .title {
        font-size: 20px;
        font-weight: 600;
    }

    .content {
        display: flex;

        .left-content {
            border: 1px solid green;
            width: 50%;
            display: flex;
            flex-wrap: wrap;

            .child {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50%;
                height: 150px;
                border: 1px solid #ccc;
            }
        }

        .right-content {
            width: 50%;
            border: 1px solid red;
            height: 300px;
        }
    }
}